.nav li ul li a:hover {
    background-color: blanchedalmond;
}



.nav li ul li ul{
    position: absolute;
    left: 0;
    width: 200px;
    background: white;
}
.nav ul li ul{
    width: 100%;
}
.nav ul li ul li {
    top: 0;
}
.nav li ul li ul{
    display: initial;
}